 /* font-family: 'Nunito', sans-serif;
font-family: 'PT Sans', sans-serif; */

body {
    font-family: 'PT Sans', sans-serif; 
    font-size: 20px;
    line-height: 1.5;
}

.brand-logo {
    font-family: 'PT Sans', sans-serif;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #304336 !important;
    font-family: 'Nunito', sans-serif;
}

nav ul a {
    font-family: 'Nunito', sans-serif;
}

.parallax-container {
    margin-top: 60px;
    margin-bottom: 50px;
}

#tagline {
    color:#304336;
    text-align: center;
    font-style: italic;
    margin-bottom: 100px;
}

.title {
    font-family: 'Nunito', sans-serif;
    color: #304336;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 100px 0px 0px 0px;  
}

.subtitle {
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    color:#5d645c;
}

.large {
    color:#7db3f3;
}

.service-icons {
    color:#304336;
    text-align: center;
    font-weight: bolder;
    margin-top: 60px;
    margin-bottom: 200px;
}

.icon-block {
    padding: 0 25px;
}

.icon-link:hover {
    color:#5d645c;
}

.info-text {
    text-align: left;
    color:#304336;
}

.hours {
    text-align: center;
    background-color: #a5d6a7;
    padding-top: 20px;
    height: 450px;
    width: 100%;
    font-size: 18px;
    line-height: 1.25;
}

.map {
    text-align: center;
}

.hours-loc {
    margin-top: 60px;
}
 
.about-info {
    margin-bottom: 200px;
}

.foot {
    background-color:#a5d6a7;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    margin-top: 100px;
}

.sidenav-trigger {
    color: white;
}

/* self serve page */
#hours-prices {
    text-align: center;
    font-size: 25px;
    padding: 0px 0px 40px 0px;
}

#coin-icon {
    text-align: center;
}

#selfserve-text {
   padding-top: 50px;
}

/* wash and fold page */
#fold-intro {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 15px;
}

#bubbles-icon {
    text-align: center;
}

#folded-clothes {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 20px;
}

#fold-rates {
    text-align: center;
    color: white;
}

#rates-white {
    color: white;
}

#fold-hours {
   display: inline-block;
   text-align: left;
}

#center-fold {
    text-align: center;
}

.fold-container {
    background-color: #a5d6a7;
    padding: 10px 20px;
    height: 500px;
}

.rates-container {
    background-color: #304336;
    padding: 10px 20px;
    height: 500px;
}

#clock {
    color: #304336;
    text-align: center;
    padding: 10px 0px 30px 0px;
}

/* hours page */
#hours-text {
    padding-top: 10px;
    margin-bottom: 300px;
}

/* safe and convenient page */
#comfort-icon {
    text-align: center;
    padding-bottom: 50px;
}

/* about page */
#family {
    float: left;
    margin: 0px 25px 10px 0px;
    width: 50%;
}

#fam-wrap {
    clear: both;
}

#sf-sweep {
    float: right;
    margin: 0px 0px 50px 25px;
    width: 35%;
}

#sf-collage {
    width: 100%;
    margin: 25px 0px 50px 0px;
}

#steve-wrap {
    clear: both;
}

/* card page */
#card-icon {
    text-align: center;
}

/* pages */
.pages-parallax {
    height: 500px;
    margin-bottom: 0px;
}

.pages-title {
    margin-top: 50px;
    margin-bottom: 40px;
}

.pages-sub {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 50px;
}


/* Media queries */

@media only screen and (max-width: 1278px) {
    .brand-logo {
        font-size: 25px !important;
    }
}

@media only screen and (max-width: 1156px) {
    .brand-logo {
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 1125px) {
    .hours {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1064px) {
    .brand-logo {
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 992px) {
    .hours {
        font-size: 18px;
        margin-bottom: 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #hours-text {
        margin-bottom: 25px;
    }
    
    .map {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .icon-block {
        margin-bottom: 50px;
    }

    #selfserve-text {
        padding-top: 20px;
    }

    .fold-container {
        margin-bottom: 25px;
    }

    #folded-clothes {
        width: 300px;
        margin-top: 15px;
    }

    #family {
        clear: both;
        width: 100%;
    }

    #sf-sweep {
        clear: both;
        width: 100%;
        margin: 15px 0px 15px 25px;
    }

    .title {
        font-size: 45px;
    }
}

@media only screen and (max-width: 628px) {
    .brand-logo {
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 503px) {
    .brand-logo {
        font-size: 16px !important;
    }

    .title {
        font-size: 40px;
    }
}

@media only screen and (max-width: 422px) {
    .fold-container {
        height: 550px;
    }
}

@media only screen and (max-width: 402px) {
    .brand-logo {
        font-size: 12px !important;
    }
}

@media only screen and (max-width: 399px) {
    #folded-clothes {
        width: 200px;
    }
}

@media only screen and (max-width: 301px) {
    .brand-logo {
        font-size: 10px !important;
    }
}

