
 /* font-family: 'Nunito', sans-serif;
font-family: 'PT Sans', sans-serif; */

body {
    font-family: 'PT Sans', sans-serif; 
    font-size: 20px;
    line-height: 1.5;
}

.brand-logo {
    font-family: 'PT Sans', sans-serif;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #304336 !important;
    font-family: 'Nunito', sans-serif;
}

nav ul a {
    font-family: 'Nunito', sans-serif;
}

.parallax-container {
    margin-top: 60px;
    margin-bottom: 50px;
}

#tagline {
    color:#304336;
    text-align: center;
    font-style: italic;
    margin-bottom: 100px;
}

.title {
    font-family: 'Nunito', sans-serif;
    color: #304336;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 100px 0px 0px 0px;  
}

.subtitle {
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    color:#5d645c;
}

.large {
    color:#a5d6a7;
}

.service-icons {
    color:#304336;
    text-align: center;
    font-weight: bolder;
    margin-top: 60px;
    margin-bottom: 200px;
}

.icon-block {
    padding: 0 25px;
}

.icon-link:hover {
    color:#304336;
}

.info-text {
    text-align: left;
    color:#304336;
}

.hours {
    text-align: center;
    background-color: #a5d6a7;
    padding-top: 20px;
    height: 450px;
    font-size: 18px;
    line-height: 1.25;
}

.map {
    width: 600px;
    text-align: center;
}

.hours-loc {
    margin-top: 60px;
}
 

.about-info {
    margin-bottom: 200px;
}

.foot {
    background-color:#a5d6a7;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    margin-top: 100px;
}

/* self serve page */
#hours-prices {
    text-align: center;
    font-size: 25px;
    padding: 0px 0px 40px 0px;
}

#coin-icon {
    text-align: center;
}


#selfserve-text {
   padding-top: 50px;
   line-height: 2;
}

/* wash and fold page */
#fold-intro {
    text-align: justify;
    font-size: 30px;
    line-height: 1.25;
    margin-top: 20px;
    margin-bottom: 15px;
}

#bubbles-icon {
    text-align: center;
}

#fold-rates {
    text-align: center;
}

#folded-clothes {
    border-radius: 8px;
    opacity: 0.5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.image-container {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 20%;
    left: 22%;
    transform: translate (-50%, -50%);
    color:#304336;
    font-size: 30px;
}

/* hours page */
#hours-text {
    padding-top: 10px;
    margin-bottom: 300px;
}

/* pages */
.pages-parallax {
    height: 500px;
    margin-bottom: 0px;
}

.pages-title {
    margin-top: 50px;
    margin-bottom: 40px;
}

.pages-sub {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.icon-nolink:hover {
    color:  #a5d6a7;
}